In [1]:
import numpy as np
import pandas as pd

dataset = pd.read_csv("Dataset.csv")
dataset.head(5)

,Country (or dependent territory),Population,% of worldpopulation,Total Area,Percentage Water,Total Nominal GDP,Per Capita GDP
0,Transnistria[w],"469,000",0.00602%,"4,163 km2 (1,607 sq mi)",2.35,US$1.0 billion,"US$2,000"
1,Northern Cyprus[x],"351,965",0.00452%,"3,355 km2 (1,295 sq mi) (unranked)",2.7,$4.234 billion[4],"$14,942[5]"
2,Curaçao (Netherlands),"156,223",0.00201%,444[3] km2 (171 sq mi),"158,665[4]",US$8.1 billion (149th),"$47,020 (27th)"
3,South Ossetia[aa],"53,532",0.000687%,"3,900 km2 (1,500 sq mi)",negligible,US$0.1 billion,"US$2,000"

In [2]:
dataset.rename(columns={'Country(or dependent territory)': 'Country'}, inplace = True)
dataset.rename(columns={'% of worldpopulation': 'Percentage of World Population'}, inplace = True)
dataset.rename(columns={'Total Area': 'Total Area (km2)'}, inplace = True)
dataset.head(5)

,Country (or dependent territory),Population,Percentage of World Population,Total Area (km2),Percentage Water,Total Nominal GDP,Per Capita GDP
0,Transnistria[w],"469,000",0.00602%,"4,163 km2 (1,607 sq mi)",2.35,US$1.0 billion,"US$2,000"
1,Northern Cyprus[x],"351,965",0.00452%,"3,355 km2 (1,295 sq mi) (unranked)",2.7,$4.234 billion[4],"$14,942[5]"
2,Curaçao (Netherlands),"156,223",0.00201%,444[3] km2 (171 sq mi),"158,665[4]",US$8.1 billion (149th),"$47,020 (27th)"
3,South Ossetia[aa],"53,532",0.000687%,"3,900 km2 (1,500 sq mi)",negligible,US$0.1 billion,"US$2,000"

In [3]:
for column in dataset.columns:
    dataset[column] = dataset[column].str.replace(r"\(.*\)", "")
    dataset[column] = dataset[column].str.replace(r"\[.*\]", "")

dataset.head(5)

,Country (or dependent territory),Population,Percentage of World Population,Total Area (km2),Percentage Water,Total Nominal GDP,Per Capita GDP
0,Transnistria,"469,000",0.00602%,"4,163 km2",2.35,US$1.0 billion,"US$2,000"
1,Northern Cyprus,"351,965",0.00452%,"3,355 km2",2.7,$4.234 billion,"$14,942"
2,Curaçao,"156,223",0.00201%,444 km2,"158,665",US$8.1 billion,"$47,020"
3,South Ossetia,"53,532",0.000687%,"3,900 km2",negligible,US$0.1 billion,"US$2,000"

In [12]:
dataset['Percentage of World Population'] = dataset['Percentage of World Population'].str.strip('%')
dataset['Percentage Water'] = dataset['Percentage Water'].str.strip('%')
dataset['Percentage Water'] = dataset['Percentage Water'].str.strip()

dataset.sample(5)

ValueError: Cannot take a larger sample than population when 'replace=False'

In [14]:
dataset['Population'] = dataset['Population'].str.replace(',', '')

dataset.head(10)

,Country (or dependent territory),Population,Percentage of World Population,Total Area (km2),Percentage Water,Total Nominal GDP,Per Capita GDP
0,Transnistria,469000,0.00602,"4,163 km2",2.35,US$1.0 billion,"US$2,000"
1,Northern Cyprus,351965,0.00452,"3,355 km2",2.7,$4.234 billion,"$14,942"
2,Curaçao,156223,0.00201,444 km2,"158,665",US$8.1 billion,"$47,020"
3,South Ossetia,53532,0.000687,"3,900 km2",negligible,US$0.1 billion,"US$2,000"

In [15]:
dataset['Total Area (km2)'] = dataset['Total Area (km2)'].str.replace(',', '')

for x in range(len(dataset['Total Area (km2)'])):
    area = dataset.iloc[x]['Total Area (km2)']
    if ('sq\xa0mi' in area):
        area = area.split('-')[0]
        area = re.sub(r'[^0-9.]+', '', area)
        area = int(float(area) * 2.58999)
    else:
        area = area.split('-')[0]
        area = re.sub(r'[^0-9.]+', '', area)
        area = int(float(area))
    dataset.iloc[x]['Total Area (km2)'] = area

dataset.head(5)

NameError: name 're' is not defined

In [16]:
dataset['Percentage Water'] = dataset['Percentage Water'].replace('negligible', '0.0')
dataset['Percentage Water'] = dataset['Percentage Water'].replace('Negligible', '0.0')
dataset['Percentage Water'] = dataset['Percentage Water'].str.replace(r'[^0-9.]+', '')

dataset = dataset[dataset['Percentage Water'].astype(float) <= 100]

dataset.head(5)

,Country (or dependent territory),Population,Percentage of World Population,Total Area (km2),Percentage Water,Total Nominal GDP,Per Capita GDP
0,Transnistria,469000,0.00602,4163 km2,2.35,US$1.0 billion,"US$2,000"
1,Northern Cyprus,351965,0.00452,3355 km2,2.7,$4.234 billion,"$14,942"
3,South Ossetia,53532,0.000687,3900 km2,0.0,US$0.1 billion,"US$2,000"

In [17]:
dataset['Total Nominal GDP'] = dataset['Total Nominal GDP'].str.replace('$', '')

for x in range(len(dataset['Total Nominal GDP'])):
    gdp = dataset.iloc[x]['Total Nominal GDP']
    if ('trillion' in dataset.iloc[x]['Total Nominal GDP']):
        gdp = re.sub(r'[^0-9.]+', '', gdp)
        gdp = int(float(gdp) * 1000000000000)
    elif ('billion' in dataset.iloc[x]['Total Nominal GDP']):
        gdp = re.sub(r'[^0-9.]+', '', gdp)
        gdp = int(float(gdp) * 1000000000)
    elif ('million' in dataset.iloc[x]['Total Nominal GDP']):
        gdp = re.sub(r'[^0-9.]+', '', gdp)
        gdp = int(float(gdp) * 1000000)
    else:
        gdp = int(re.sub(r'[^0-9.]+', '', gdp))
    dataset.iloc[x]['Total Nominal GDP'] = gdp

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

NameError: name 're' is not defined

In [20]:
dataset.to_csv("Final_dataset.csv", index = False)